<a href="https://colab.research.google.com/github/kartika-nair/SDS-Project/blob/master/PopulationAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/PopulationDataset.csv")
df.head()

   Year Country  ...  World Population  Country Global Rank
0  2020   China  ...        7794798739                    1
1  2019   China  ...        7713468100                    1
2  2018   China  ...        7631091040                    1
3  2017   China  ...        7547858925                    1
4  2016   China  ...        7464022049                    1

[5 rows x 14 columns]